// 此处为全局样式，不要在此处添加业务样式
// 此处为全局样式，不要在此处添加业务样式
// 此处为全局样式，不要在此处添加业务样式
@import 'reset.less';
@import 'nprogress/nprogress.css';

/** layout侧边栏样式覆盖 */
.ant-layout-sider {
  background: #FFFFFF !important;
}

.ant-pro-layout {
  height: 100%;
}

.vertex-app-pro-page-container {
  .vertex-app-breadcrumb {
    ol > li:first-child {
      a {
        pointer-events: none;
        cursor: not-allowed;
        color: gray;
      }
    }
  }
}

@media (max-width: 768px) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;

        > span {
          display: block;
        }
      }
    }
  }
}
