<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onezol.vertex.framework.security.biz.mapper.UserMapper">

    <select id="queryUserPage" resultType="com.onezol.vertex.framework.security.api.model.entity.UserEntity">
        SELECT
            u.*
        FROM
            vx_user u
            LEFT JOIN vx_user_department ud ON ud.user_id = u.id
            LEFT JOIN vx_department d ON d.id = ud.dept_id
        <where>
            u.deleted = false
            AND d.status = 1
            <if test="param != null">
                <if test="param.id != null">
                    AND u.id = #{param.id}
                </if>
                <if test="param.departmentId != null">
                    AND (
                        d.id = #{param.departmentId}
                        OR
                        d.ancestors LIKE CONCAT('%', #{param.departmentId}, '%')
                    )
                </if>
                <if test="param.username != null and param.username != ''">
                    AND u.username LIKE CONCAT('%', #{param.username}, '%')
                </if>
                <if test="param.nickname != null and param.nickname != ''">
                    AND u.nickname LIKE CONCAT('%', #{param.nickname}, '%')
                </if>
                <if test="param.gender != null">
                    AND u.gender = #{gender}
                </if>
                <if test="param.email != null and param.email != ''">
                    AND u.email LIKE CONCAT('%', #{param.email}, '%')
                </if>
                <if test="param.status != null">
                    AND u.status = #{param.status}
                </if>
                <if test="param.keyword != null and param.keyword !=''">
                    AND (
                    u.username LIKE CONCAT('%', #{param.keyword}, '%')
                    OR
                    u.nickname LIKE CONCAT('%', #{param.keyword}, '%')
                    OR
                    u.description LIKE CONCAT('%', #{param.keyword}, '%')
                    )
                </if>
                <if test="param.startTime != null and param.startTime != ''">
                    AND u.create_time >= #{param.startTime}
                </if>
                <if test="param.endTime != null and param.endTime != ''">
                    AND u.create_time &lt;= #{param.endTime}
                </if>
            </if>
        </where>
    </select>

    <select id="queryUnboundRoleUserPage" resultType="com.onezol.vertex.framework.security.api.model.entity.UserEntity">
        SELECT
            u.*
        FROM
            vx_user u
            LEFT JOIN vx_user_department ud ON ud.user_id = u.id
            LEFT JOIN vx_department d ON d.id = ud.dept_id
        <where>
            u.deleted = false
            <if test="param != null">
                <if test="param.id != null">
                    AND u.id = #{param.id}
                </if>
                <if test="param.departmentId != null">
                    AND (
                        d.id = #{param.departmentId}
                        OR
                        d.ancestors LIKE CONCAT('%', #{param.departmentId}, '%')
                    )
                </if>
                <if test="param.username != null and param.username != ''">
                    AND u.username LIKE CONCAT('%', #{param.username}, '%')
                </if>
                <if test="param.nickname != null and param.nickname != ''">
                    AND u.nickname LIKE CONCAT('%', #{param.nickname}, '%')
                </if>
                <if test="param.roleId != null">
                    AND u.id NOT IN (
                        SELECT DISTINCT st1.user_id FROM vx_user_role st1 WHERE st1.role_id = #{param.roleId}
                    )
                </if>
            </if>
        </where>
    </select>

</mapper>
