<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onezol.vertx.framework.component.upvote.mapper.UpvoteRecordMapper">

    <select id="getVoteCounts" resultType="com.onezol.vertx.framework.component.upvote.model.dto.UpvoteCount">
        SELECT
            object_id AS objectId,
            COUNT(*) as count
        FROM
            app_upvote_record
        WHERE
            object_type = #{objectType}
            AND object_id IN
            <foreach item="item" index="index" collection="objectIds"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        GROUP BY object_id
    </select>

    <select id="hasVotedBatch" resultType="com.onezol.vertx.framework.component.upvote.model.dto.UpvoteStatus">
        SELECT
            object_id AS objectId,
            CASE
                WHEN COUNT(*) > 0 THEN true
                ELSE false
            END as upvoted
        FROM
            app_upvote_record
        WHERE
            object_type = #{objectType}
            AND object_id IN
            <foreach item="item" index="index" collection="objectIds"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
            AND user_id = #{userId}
        GROUP BY object_id
    </select>

</mapper>
